<a href="https://colab.research.google.com/github/JijoJames04/AI-ML/blob/main/Pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("Pokemon Dataset.csv")

In [ ]:
df

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,is_sub_legendary,is_legendary,is_mythical,species,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.00,1.00,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,0,0,0,Lizard Pokémon,...,2.0,1.0,1.0,0.50,2.00,1.0,1.0,1.0,0.5,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,1023,888,Zacian Hero of Many Battles,NaN,NaN,8,0,1,0,Warrior Pokémon,...,1.0,1.0,1.0,0.50,1.00,1.0,0.0,0.5,2.0,1.0
1024,1024,889,Zamazenta Crowned Shield,NaN,NaN,8,0,1,0,Warrior Pokémon,...,2.0,1.0,1.0,0.25,0.25,1.0,0.5,0.5,0.5,1.0
1025,1025,889,Zamazenta Hero of Many Battles,NaN,NaN,8,0,1,0,Warrior Pokémon,...,1.0,2.0,2.0,0.50,0.50,1.0,1.0,0.5,1.0,2.0
1026,1026,890,Eternatus,NaN,NaN,8,0,1,0,Gigantic Pokémon,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0
1027,1027,890,Eternatus Eternamax,NaN,NaN,8,0,1,0,Gigantic Pokémon,...,2.0,1.0,2.0,0.50,1.00,1.0,2.0,1.0,1.0,1.0

In [ ]:
df.describe()

,Unnamed: 0,pokedex_number,generation,is_sub_legendary,is_legendary,is_mythical,type_number,height_m,weight_kg,abilities_number,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
count,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000,1028.000000,1027.000000,1026.000000,1028.000000,...,1027.000000,1027.000000,1027.000000,1027.000000,1027.000000,1027.000000,1027.000000,1027.000000,1027.000000,1027.000000
mean,513.500000,437.711089,4.034047,0.043774,0.037938,0.028210,1.525292,1.368939,69.819688,2.282101,...,1.085686,1.166504,0.980282,0.992454,1.239046,1.011198,0.975657,1.066212,0.980282,1.083982
std,296.902341,259.366480,2.234937,0.204692,0.191139,0.165653,0.501548,3.381664,129.266962,0.795674,...,0.784589,0.593296,0.498451,0.598592,0.699094,0.558578,0.377732,0.450928,0.503679,0.527226
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.100000,0.000000,...,0.000000,0.250000,0.000000,0.000000,0.250000,0.000000,0.000000,0.250000,0.000000,0.000000
25%,256.750000,213.750000,2.000000,0.000000,0.000000,0.000000,1.000000,0.600000,8.825000,2.000000,...,0.500000,1.000000,1.000000,0.500000,1.000000,1.000000,1.000000,1.000000,0.500000,1.000000
50%,513.500000,433.500000,4.000000,0.000000,0.000000,0.000000,2.000000,1.000000,28.650000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,770.250000,663.250000,6.000000,0.000000,0.000000,0.000000,2.000000,1.500000,69.550000,3.000000,...,1.750000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1027.000000,890.000000,8.000000,1.000000,1.000000,1.000000,2.000000,100.000000,999.900000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,2.000000,4.000000,4.000000,4.000000

In [ ]:
df.columns

Index(['Unnamed: 0', 'pokedex_number', 'name', 'german_name', 'japanese_name',
       'generation', 'is_sub_legendary', 'is_legendary', 'is_mythical',
       'species', 'type_number', 'type_1', 'type_2', 'height_m', 'weight_kg',
       'abilities_number', 'ability_1', 'ability_2', 'ability_hidden',
       'total_points', 'hp', 'attack', 'defense', 'sp_attack', 'sp_defense',
       'speed', 'catch_rate', 'base_friendship', 'base_experience',
       'growth_rate', 'egg_type_number', 'egg_type_1', 'egg_type_2',
       'percentage_male', 'egg_cycles', 'against_normal', 'against_fire',
       'against_water', 'against_electric', 'against_grass', 'against_ice',
       'against_fight', 'against_poison', 'against_ground', 'against_flying',
       'against_psychic', 'against_bug', 'against_rock', 'against_ghost',
       'against_dragon', 'against_dark', 'against_steel', 'against_fairy'],
      dtype='object')

In [ ]:
df['pokedex_number']

0         1
1         2
2         3
3         3
4         4
       ...
1023    888
1024    889
1025    889
1026    890
1027    890
Name: pokedex_number, Length: 1028, dtype: int64

In [ ]:
df[['pokedex_number', 'name']]

      pokedex_number                            name
0                  1                       Bulbasaur
1                  2                         Ivysaur
2                  3                        Venusaur
3                  3                   Mega Venusaur
4                  4                      Charmander
...              ...                             ...
1023             888     Zacian Hero of Many Battles
1024             889        Zamazenta Crowned Shield
1025             889  Zamazenta Hero of Many Battles
1026             890                       Eternatus
1027             890             Eternatus Eternamax

[1028 rows x 2 columns]

In [ ]:
df.iloc[1,:]

Unnamed: 0                           1
pokedex_number                       2
name                           Ivysaur
german_name                  Bisaknosp
japanese_name       フシギソウ (Fushigisou)
generation                           1
is_sub_legendary                     0
is_legendary                         0
is_mythical                          0
species                   Seed Pokémon
type_number                          2
type_1                           Grass
type_2                          Poison
height_m                           1.0
weight_kg                         13.0
abilities_number                     2
ability_1                     Overgrow
ability_2                          NaN
ability_hidden             Chlorophyll
total_points                     405.0
hp                                60.0
attack                            62.0
defense                           63.0
sp_attack                         80.0
sp_defense                        80.0
speed                             60.0
catch_rate                        45.0
base_friendship                   70.0
base_experience                  142.0
growth_rate                Medium Slow
egg_type_number                      2
egg_type_1                       Grass
egg_type_2                     Monster
percentage_male                   87.5
egg_cycles                        20.0
against_normal                     1.0
against_fire                       2.0
against_water                      0.5
against_electric                   0.5
against_grass                     0.25
against_ice                        2.0
against_fight                      0.5
against_poison                     1.0
against_ground                     1.0
against_flying                     2.0
against_psychic                    2.0
against_bug                        1.0
against_rock                       1.0
against_ghost                      1.0
against_dragon                     1.0
against_dark                       1.0
against_steel                      1.0
against_fairy                      0.5
Name: 1, dtype: object

In [ ]:
df.isna()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,is_sub_legendary,is_legendary,is_mythical,species,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1025,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1026,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1027,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isna().sum()

Unnamed: 0            0
pokedex_number        0
name                  0
german_name          90
japanese_name        90
generation            0
is_sub_legendary      0
is_legendary          0
is_mythical           0
species               1
type_number           0
type_1                1
type_2              487
height_m              1
weight_kg             2
abilities_number      0
ability_1             4
ability_2           516
ability_hidden      218
total_points          1
hp                    1
attack                1
defense               1
sp_attack             1
sp_defense            1
speed                 1
catch_rate          105
base_friendship     105
base_experience     105
growth_rate           2
egg_type_number       0
egg_type_1            4
egg_type_2          746
percentage_male     237
egg_cycles            2
against_normal        1
against_fire          1
against_water         1
against_electric      1
against_grass         1
against_ice           1
against_fight         1
against_poison        1
against_ground        1
against_flying        1
against_psychic       1
against_bug           1
against_rock          1
against_ghost         1
against_dragon        1
against_dark          1
against_steel         1
against_fairy         1
dtype: int64